.pelanggan-detail {
  background-image: url('../../data/images/background/transaksi.svg');
  background-repeat: no-repeat;
  background-position: top right;

  .action-bar {
    height: 8px;
    width: 50px;
    background-color: #737373;
    margin: 0 auto;  
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: move;
  }
}